@import "../../../global/normalize.css";
@import "../../../global/variables.css";

.container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.header-content {
    background-color: var(--color-dark10);
    width: 100%;
    min-height: 5rem;
    max-height: 6.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
}

.header-content .header-title {
    font-size: 1.4rem;
    font-weight: 900;
    color: var(--color-white);
}

.header-content .header-title span {
    color: var(--color-lime);
}

.header-content .header-navbar {
    width: 3rem;
    height: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    z-index: 1;
    cursor: pointer;
}

.header-content .header-navbar .nav-item {
    width: 100%;
    height: 2px;
    background-color: var(--color-white);
}

.header-content .header-navbar .nav-item:nth-child(2) {
    width: 66%;
}

.header-content .header-navbar .nav-item:nth-child(3) {
    width: 77%;
}

.d-none {
    display: none;
}

.nav-item2-open {
    width: 100%;
    transition: all 200ms ease-in-out;
    transform: rotate(-45deg);
}

.nav-item3-open {
    width: 100%;
    transition: all 200ms ease-in-out;
    transform: rotate(-45deg);
}
