<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>GVMETA</title>
        <link rel="stylesheet" href="../styles/pages/deletegoal/index.css" />
    </head>
    <body>
        <div class="container">
            <header class="header-content">
                <h1 class="header-title">GV<span>META</span></h1>
                <p class="header-subtitle">
                    Tem <span>certeza</span> que quer fazer isso mesmo?
                </p>
            </header>
            <hr class="division" />
            <main class="main-content">
                <a onclick="deleteGoal()" href="/index.html">APAGAR META</a>
            </main>
        </div>
        <script src="../scripts/app.js"></script>
    </body>
</html>
