<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>GVMETA</title>
        <link rel="stylesheet" href="../styles/pages/removesale/index.css" />
    </head>
    <body>
        <div class="container">
            <header class="header-content">
                <h1 class="header-title">GV<span>META</span></h1>
                <p class="header-subtitle">
                    Que pena! Mas nada de <span>desistir</span>
                </p>
            </header>
            <hr class="division" />
            <main class="main-content">
                <label>Quanto foi o valor do cancelamento?</label>
                <input
                    id="input-remove-sale"
                    type="text"
                    oninput="formatNumbers(this)"
                    placeholder="R$0,00"
                />
                <a onclick="removeSale()" href="/index.html">REMOVER VENDA</a>
            </main>
        </div>
        <script src="../scripts/app.js"></script>
    </body>
</html>
